{:kotoba.app/id "cloud.itonami.isic-3600", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicrb4zio4nfn2elp6wyq43syr4fhfuljcaqzjhqw3h6exxflsuh5e", :kotoba.app/embed-url "ipfs://bafkreicrb4zio4nfn2elp6wyq43syr4fhfuljcaqzjhqw3h6exxflsuh5e", :published {:archive "https://kotobase.net/ipfs/bafkreicrb4zio4nfn2elp6wyq43syr4fhfuljcaqzjhqw3h6exxflsuh5e", :size 75510, :put-status 201, :get-status 200, :at "2026-08-15T13:45:43.131Z"}}
